:root {
	--accent: 255, 144, 0;
	--indicator: var(--accent);
	--selection: var(--accent);
	--rounding: 12px;
}

.dashboardDocument.withSectionTabs .mainDrawer-scrollContainer {
	margin-top: 10em !important;
}

.mainDetailButtons {
	font-size: 120%;
}

@media all and (min-width: 100em) {
	.button-flat {
		margin: .2em !important;
		padding: .85em !important;
	}
}

@media all and (max-width: 100em) {
	.mainDetailButtons {
		font-size: 155%;
	}

	.detailButton {
		max-width: 15vw !important;
	}
}

.MuiTabs-indicator {  
	background-color: rgba(var(--accent)); 
}
	
.css-cw1wz5.Mui-selected {
	color: rgba(var(--accent));
}
.css-4yt2of {
	background-color: #000;
	color: rgb(255, 255, 255);
	transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
	border-right: 1px solid rgba(255, 255, 255, 0.05);
}
.css-17c09up.Mui-selected {
	background-color: rgba(var(--accent));
}
.css-17c09up.Mui-selected:hover {
	background-color: rgba(var(--accent), 0.69);
}
.css-1ip8vbj.Mui-selected {
	background-color: rgba(var(--accent));
}

.css-1ip8vbj.Mui-selected:hover {
	background-color: rgba(var(--accent), 0.69);
}

.startTimeText,
.endTimeText {
	width: 3.4em;
	display: block;
	text-align: center;
}

.osdTitle {
	margin-left: 0.5em;
}

.videoOsdBottom {
	padding-top: 1em;
}

.skinHeader-withBackground {
	background-color: #1b1b1b;
	border-top: 10px solid black;
}

.skinHeader-withBackground.osdHeader {
	height: 5em;
}

@media (min-aspect-ratio: 1.98/1) {
	.detailImageContainer .card {
		width: 21vw !important;
	}

	.detailPagePrimaryContainer {
		padding-left: 28.45vw !important;
	}

	.detailPageContent {
		padding-left: 28.45vw !important;
	}
}

@media (min-aspect-ratio: 2.7/1) {
	.detailImageContainer .card {
		width: 16vw !important;
	}

	.detailPagePrimaryContainer {
		padding-left: 23.45vw !important;
	}

	.detailPageContent {
		padding-left: 23.45vw !important;
	}
}

.emby-input,
.emby-textarea {
	padding: .4em .55em;
}

.emby-select {
	padding: .35em 1.9em .35em .35em;
}

.selectArrow {
	margin-top: 1.05em;
}

.layout-mobile :not(.sectionTitleContainer-cards)>.sectionTitle-cards {
	padding-top: 0em;
}

.sectionTitle {
	margin-left: .4em !important;
	margin-top: .2em !important;
	margin-bottom: .2em !important;
}

.sectionTitleTextButton > .material-icons {
	margin: 0;
}

.layout-mobile .sectionTitleTextButton > .material-icons {
	padding-top: .2em;
}

.nowPlayingBarCurrentTime {
	width: 6em;
}

.osdTextContainer {
	margin: 0 !important;
	margin-top: 0.2em !important;
	padding-left: 0.5em !important;
	padding-right: 0.5em !important;
}/*Fix top right user icon when using a profile image*/.headerUserButtonRound {
	border-radius: 50px !important;
}/*Improve some menu alignments*/.navMenuOptionText {
	margin-top: 0;
}

.withSectionTabs .headerTop {
	padding-bottom: .55em;
	background: #1b1b1b;
}

.formDialogHeaderTitle {
	margin-left: 1em;
}

.formDialogContent {
	margin-bottom: 6.2em;
}

.dialogContentInner {
	padding: .5em 1em 1em;
	padding-right: 1em;
	padding-left: 1em;
}

.listItem-indexnumberleft {
	margin: 1em;
}

.listItem {
	padding-left: 1em;
}

.emby-textarea {
	font-family: monospace;
	font-size: 10pt;
}/*Theme user setting tab buttons*/div[data-role="controlgroup"] a.ui-btn-active {
	background: rgba(0, 0, 0, 0.5) !important;
	color: white !important;
}

div[data-role="controlgroup"] a[data-role="button"] {
	display: table-cell !important;
	margin: 0 !important;
}/*Mobile tweaks*/.layout-mobile .detailPagePrimaryContainer {
	background: transparent;
}

.layout-mobile .adminDrawerLogo {
	border-bottom: none;
}/*Stop covers from being scrolled on desktop*/.layout-desktop .detailImageContainer .card {
	position: fixed !important;
}

.layout-mobile .detailImageContainer .card {
	position: absolute !important;
}/*Top "task bar" enlarge text*/.headerTabs.sectionTabs {
	text-size-adjust: 110%;
	font-size: 110%;
	background: #1b1b1b;
}

.pageTitle {
	margin-top: auto;
	height: 2.4em;
	margin-bottom: auto;
}/*Theme process progress ring*/.progressring-spiner {
	border-color: rgba(var(--accent));
	border-width: .35em;
}

.progressring {
	margin: .4em;
}

.progressring-bg {
	display: none;
}/*Theme link color*/#itemDetailPage .button-link {
	color: inherit !important;
}/*Accommodate mobile and align buttons and indicators*/.cardIndicators,
.listItemIndicators {
	right: 0.5em;
	top: 0.5em;
}

.mediaSourceIndicator {
	left: 0.5em;
	top: 0.5em;
}

@media all and (min-width: 70em) {
	.cardOverlayFab-primary {
		background-color: #00000000;
	}

	.cardOverlayButtonIcon {
		background-color: #00000000 !important;
	}

	.cardOverlayContainer {
		background-color: rgba(0, 0, 0, 0.7);
	}
}/* Play button hovering (for low width windows) */@media all and (max-width: 70em) {
	.cardOverlayFab-primary {
		background-color: #00000000;
	}

	.cardOverlayButtonIcon {
		background-color: #00000000 !important;
	}

	.cardOverlayContainer {
		background-color: rgba(0, 0, 0, 0.7);
	}

	.cardOverlayButton {
		padding: 0.25em;
	}
}/*Media player*/.nowPlayingPageImage {
	border: none;
}

.upNextDialog-countdownText {
	color: white;
}

/*Narrow margins, theme main page*/
.cardBox-bottompadded {
	margin-bottom: 0.6em !important;
}

.itemsContainer > .card > .cardBox {
	margin-right: 0.8em;
}

.raised.homeLibraryButton {
	background: #151515 !important;
}

.raised.homeLibraryButton:hover {
	background: #1b1b1b !important;
}

.raised.homeLibraryButton:hover {
	transition: filter 0.2s;
}

.raised.homeLibraryButton {
	transition: filter 0.2s;
}

.homeLibraryButton {
	min-width: 12em;
	margin: 0.4em;
}

@media all and (max-width: 26em) {
	.homeLibraryButton {
		min-width: 45%;
		width: auto !important;
	}
}

.homeLibraryButton {
	width: auto !important;
}

.listItem:hover {
	transition: 0.2s;
	background: #1b1b1b;
}

.visualCardBox,
.cardImageContainer {
	box-shadow: none;
}

.backgroundProgress > div {
	background: rgba(0, 0, 0, 0);
}

.itemProgressBar {
	background: rgba(0, 0, 0, 0.25);
}

#divRunningTasks span {
	color: rgba(255,255,255,0.75) !important;
}

.itemsContainer > .card > .cardBox {
	margin-left: 0.6em !important;
}

.itemsContainer > .card > .cardBox {
	margin-right: 0.8em;
}/*ANIMATIONS*//*Hover background for section title buttons*/.button-flat:hover {
	background: rgba(0, 164, 220, 0.2);
	color: #00a4dc !important;
}

.button-flat {
	margin: .2em !important;
	padding: .85em !important;
}

.dashboardSection h3 {
	margin: .5em .0em .5em .5em;
}

.dashboardSection .sectionTitleTextButton > .material-icons.material-icons {
	margin-top: .5em;
	margin-bottom: .5em;
	margin-right: .2em;
}/*Rating star, normally yellow*/.starIcon {
	color: rgba(255,255,255,.8);
}/*Remove background on some icons*/.listItemIcon {
	background: #0000 !important;
}/*Remove divider on list items*/.listItem-border {
	border-color: rgba(255, 255, 255, 0) !important;
}/*Fix footers/headers displaying on small pop-ups*/.formDialogFooter-clear,
.formDialogHeader-clear,
.innerCardFooterClear {
	background-color: transparent !important;
}/*Title text buttons*/button-flat:hover {
	color: rgba(var(--accent)) !important;
}

.raised:hover,
.fab:hover,
a[data-role="button"]:hover {
	background: rgba(var(--accent),0.5) !important;
}

.subtitleappearance-preview {
	background: linear-gradient(140deg,rgb(var(--accent)),#111) !important;
}

.navMenuOption-selected {
	color: rgba(var(--accent));
}

.emby-tabs-slider {
	position: relative;
	margin-top: 4px;
}

.mdl-slider-background-lower {
	background-color: rgba(var(--accent));
}

progress::-moz-progress-bar {
	background-color: rgba(var(--accent),0.75);
}

progress::-webkit-progress-value {
	background-color: rgba(var(--accent),0.75);
}

.taskProgressInner {
	background: rgba(var(--accent),0.75) !important;
}

#dashboardPage .playbackProgress > div {
	background-color: rgba(var(--accent), 0.75) !important;
}

#dashboardPage .transcodingProgress > div {
	background-color: rgba(var(--accent), 0.35) !important;
}

.mdl-slider-background-lower {
	background-color: rgb(var(--accent));
}

.mdl-slider::-moz-range-thumb {
	background: rgb(var(--accent));
}

.mdl-slider::-ms-thumb {
	background: rgb(var(--accent));
}

.mdl-slider::-webkit-slider-thumb {
	background: rgb(var(--accent));
}

.iconOsdProgressInner {
	background: rgb(var(--accent));
}

.paper-icon-button-light:hover,
.raised.homeLibraryButton:hover,
.button-flat:hover,
.playstatebutton-icon-played,
.ratingbutton-icon-withrating,
.paper-icon-button-light:hover:not(:disabled),
.emby-tab-button:hover,
.selectLabelFocused,
.inputLabelFocused,
.textareaLabelFocused,
.buttonActive,
.button-link {
	color: rgba(var(--accent)) !important;
}

#itemDetailPage .button-link {
	color: inherit !important;
}

.navMenuOption:hover,
.actionSheetMenuItem:hover {
	background-color: rgba(var(--accent),0.5) !important;
}

.emby-checkbox:checked + span + .checkboxOutline,
.emby-textarea:focus,
.emby-select-withcolor:focus,
.emby-input:focus,
.itemSelectionPanel {
	border: 0.01em solid rgba(var(--accent),0.5) !important;
}

.upNextDialog-countdownText {
	color: rgba(var(--accent));
}

.mdl-spinner__layer-1 {
	border-color: rgba(var(--accent));
}

.mdl-switch__input:checked + .mdl-switch__label + .mdl-switch__trackContainer > .mdl-switch__track {
	background: rgba(var(--accent), 0.5);
}

.mdl-switch__input:checked + .mdl-switch__label + .mdl-switch__trackContainer > .mdl-switch__thumb {
	background: rgba(var(--accent));
}

::-webkit-scrollbar-thumb {
	background: rgba(var(--accent),0.8) !important;
}

* {
	scrollbar-color: rgba(var(--accent),0.8) #0000 !important;
}/* Syncplay theming*/.syncPlayIconCircle {
	color: rgba(var(--accent),1) !important;
	text-shadow: none !important;
}/*Rounded corners on pretty much everything*/progress {
	border-radius: var(--rounding);
}

progress::-webkit-progress-bar {
	border-radius: var(--rounding);
}

progress::-moz-progress-bar {
	border-radius: var(--rounding);
}

progress::-webkit-progress-value {
	border-radius: var(--rounding);
}

.taskProgressOuter,
.taskProgressInner {
	border-radius: var(--rounding) !important;
}

.formDialogHeader {
	border-top-left-radius: var(--rounding);
	border-top-right-radius: var(--rounding);
}

.formDialogFooter {
	border-bottom-left-radius: var(--rounding);
	border-bottom-right-radius: var(--rounding);
}

.cardOverlayContainer {
	border-radius: var(--rounding) !important;
}

.missingIndicator,
.unairedIndicator,
.detailTable,
.primaryImageWrapper > img,
.toast,
.paperList,
.cardContent,
.sessionNowPlayingInnerContent,
.listItem:hover,
.cardImage,
.fab,
.raised,
.multiSelectCheckboxOutline,
.itemSelectionPanel,
.cardContent-button,
.cardContent-shadow,
.itemDetailImage,
.cardOverlayButton-hover,
.cardImageContainer,
.cardPadder,
.listItemImage,
.listItemImageButton,
.listItemButton,
.headerButton,
.paper-icon-button-light,
.innerCardFooter,
.blurhash-canvas,
.dialog,
.countIndicator,
.playedIndicator,
.listItemIcon,
.listItem-border,
.button-flat,
.visualCardBox,
.checkboxOutline,
.emby-select-withcolor,
.chapterThumbTextContainer,
.chapterThumbContainer,
.chapterThumb,
.emby-input,
.emby-textarea,
.emby-select-withcolor,
.nowPlayingPageImage,
.upNextDialog-poster-img,
.upNextContainer,
.cardOverlayButtonIcon {
	border-radius: var(--rounding) !important;
}

.actionSheetMenuItem:hover {
	border-radius: 0 !important;
}

fieldset {
	border-radius: var(--rounding);
}

.osdPoster img {
	border-radius: var(--rounding);
	border: none;
}

.mdl-slider::-moz-range-thumb {
	border-radius: var(--rounding);
}

.mdl-slider::-ms-thumb {
	border-radius: var(--rounding);
}

.mdl-slider::-webkit-slider-thumb {
	border-radius: var(--rounding);
}

div[data-role="controlgroup"] a[data-role="button"]:first-child {
	border-bottom-left-radius: var(--rounding);
	border-top-left-radius: var(--rounding);
}

div[data-role="controlgroup"] a[data-role="button"]:last-child {
	border-bottom-right-radius: var(--rounding);
	border-top-right-radius: var(--rounding);
}

#dashboardPage .cardContent,
#dashboardPage .sessionNowPlayingInnerContent {
	border-radius: var(--rounding) var(--rounding) 0 0 !important;
}

#divVirtualFolders .cardImageContainer,
#divVirtualFolders .cardContent {
	border-radius: var(--rounding) var(--rounding) 0 0 !important;
}

#userProfilesPage .cardImage,
#userProfilesPage .cardContent {
	border-radius: var(--rounding) var(--rounding) 0 0 !important;
}/*Shrink and square (or round) cast thumnails*/@media all and (min-width: 131.25em) {
	#castContent .card.overflowPortraitCard {
		width: 6.3vw !important;
		font-size: 90% !important;
	}
}

@media all and (min-width: 120em) and (max-width: 131.25em) {
	#castContent .card.overflowPortraitCard {
		width: 6.4vw !important;
		font-size: 90% !important;
	}
}

@media all and (min-width: 100em) and (max-width: 120em) {
	#castContent .card.overflowPortraitCard {
		width: 7.6vw !important;
		font-size: 90% !important;
	}
}

@media all and (min-width: 87.5em) and (max-width: 100em) {
	#castContent .card.overflowPortraitCard {
		width: 9.3vw !important;
		font-size: 90% !important;
	}
}

@media all and (min-width: 75em) and (max-width: 87.5em) {
	#castContent .card.overflowPortraitCard {
		width: 10.5vw !important;
		font-size: 90% !important;
	}
}

@media all and (min-width: 50em) and (max-width: 75em) {
	#castContent .card.overflowPortraitCard {
		width: 15vw !important;
		font-size: 90% !important;
	}
}

@media all and (min-width: 43.75em) and (max-width: 50em) {
	#castContent .card.overflowPortraitCard {
		width: 20.1vw !important;
		font-size: 90% !important;
	}
}

@media all and (min-width: 25em) and (max-width: 43.75em) {
	#castContent .card.overflowPortraitCard {
		width: 31.2vw !important;
		font-size: 90% !important;
	}
}

@media all and (max-width: 25em) {
	#castContent .card.overflowPortraitCard {
		width: 40vw !important;
		font-size: 90% !important;
	}
}

.cardPadder {
	background-color: #0000 !important;
	box-shadow: none !important;
}/*Correct image aspect ratio behaviour, set border-radius to zero for square tiles*/@media all and (min-width: 131.25em) {
	#castContent .cardScalable {
		width: calc(6.3vw - 0.6em) !important;
		height: calc(6.3vw - 0.6em) !important;
	}
}

@media all and (min-width: 120em) and (max-width: 131.25em) {
	#castContent .cardScalable {
		width: calc(6.4vw - 0.6em) !important;
		height: calc(6.4vw - 0.6em) !important;
	}
}

@media all and (min-width: 100em) and (max-width: 120em) {
	#castContent .cardScalable {
		width: calc(7.6vw - 0.6em) !important;
		height: calc(7.6vw - 0.6em) !important;
	}
}

@media all and (min-width: 87.5em) and (max-width: 100em) {
	#castContent .cardScalable {
		width: calc(9.3vw - 0.6em) !important;
		height: calc(9.3vw - 0.6em) !important;
	}
}

@media all and (min-width: 75em) and (max-width: 87.5em) {
	#castContent .cardScalable {
		width: calc(10.5vw - 0.6em) !important;
		height: calc(10.5vw - 0.6em) !important;
	}
}

@media all and (min-width: 50em) and (max-width: 75em) {
	#castContent .cardScalable {
		width: calc(15vw - 0.6em) !important;
		height: calc(15vw - 0.6em) !important;
	}
}

@media all and (min-width: 43.75em) and (max-width: 50em) {
	#castContent .cardScalable {
		width: calc(20.1vw - 0.6em) !important;
		height: calc(20.1vw - 0.6em) !important;
	}
}

@media all and (min-width: 25em) and (max-width: 43.75em) {
	#castContent .cardScalable {
		width: calc(31.2vw - 0.6em) !important;
		height: calc(31.2vw - 0.6em) !important;
	}
}

@media all and (max-width: 25em) {
	#castContent .cardScalable {
		width: calc(40vw - 0.6em) !important;
		height: calc(40vw - 0.6em) !important;
	}
}/*Size episode preview images in a more compact way*/.listItemImage.listItemImage-large.itemAction.lazy {
	transition: filter 0.2s;
}

.listItemImageButton-icon {
	padding: 0;
}

.secondary.listItem-overview.listItemBodyText {
	height: 61px;
	margin: 0;
}

.listItemImageButton {
	margin: auto;
	font-size: 1.6em !important;
}

@media all and (min-width: 100em) {
	.listItemImage.listItemImage-large.itemAction.lazy {
		height: 110px;
	}

	.listItem-content {
		height: 115px;
	}

	.secondary.listItem-overview.listItemBodyText {
		height: 4em;
		margin: 0;
	}
}

@media all and (max-width: 100em) {
	.listItemImage.listItemImage-large.itemAction.lazy {
		height: 80px;
	}

	.listItem-content {
		height: 85px;
	}

	.secondary.listItem-overview.listItemBodyText {
		height: 2.5em;
		margin: 0;
	}
}

.missingIndicator,
.unairedIndicator {
	background: #ae3030eb;
	padding: .3em .6em;
	color: #fff;
}

.layout-mobile .listItemImageButton {
	background: rgba(0, 0, 0, 0);
}/*Narrow the login form, size according to display size (bigger on mobile)*/#loginPage .readOnlyContent,
.emby-checkbox:checked + span + .checkboxOutline, .itemProgressBarForeground {
	background-color: rgb(var(--accent));
}

#loginPage form {
	max-width: 22em;
}

#loginPage .padded-left.padded-right.padded-bottom-page {
	margin-top: 8em;
}/*Hide "manual" and "forgot" buttons}*/#loginPage .raised.cancel.block.btnForgotPassword.emby-button {
	display: none;
}

#loginPage .padded-left.padded-right.padded-bottom-page {
	margin-left: auto;
	margin-right: auto;
	background: #212121;
	width: 24em;
	border-radius: var(--rounding);
}

#loginPage .squareCard {
	width: 33%;
}

#loginPage form {
	padding-top: 4em;
}

#loginPage .sectionTitle {
	margin-left: auto !important;
	margin-right: auto !important;
	margin-bottom: 1.2em !important;
}/*No borders, background highlights*/.infoBanner {
	background: rgba(var(--selection), 0.15) !important;
}

fieldset {
	border: 1px solid rgba(var(--selection), 0.3);
}

.checkboxOutline,
.emby-input,
.emby-textarea,
.emby-select-withcolor {
	border: none !important;
	background-color: #151515;
}

#itemDetailPage .emby-select-withcolor {
	background: rgba(0, 0, 0, 0.2);
}/*Change look of in-focus fields*/.emby-checkbox:checked + span + .checkboxOutline,
.emby-input:focus,
.emby-textarea:focus,
.emby-select-withcolor:focus,
.itemSelectionPanel {
	border: none !important;
	background: rgba(var(--selection), 0.25) !important;
}

.checkboxIcon {
	color: rgba(var(--selection), 1);
}/*Progress bars*/progress {
	border: 0px solid rgba(255, 255, 255, 0.22);
}

progress::-webkit-progress-bar {
	border: 0px solid rgba(255, 255, 255, 0.22);
}

.taskProgressOuter {
	border: 0px solid rgba(255, 255, 255, 0.22);
}/*Card indicators style normal*/.innerCardFooter {
	margin: .5em;
}

.countIndicator {
	background: rgba(var(--indicator),0.8);
	box-shadow: none;
}

.playedIndicator,
.innerCardFooter {
	background: rgba(0,0,0,0.4);
	box-shadow: none;
}

.mediaSourceIndicator {
	background: rgba(0,0,0,0.4);
	box-shadow: none;
	border-radius: var(--rounding);
}

.dialog,
.mainDrawer,
.toast,
.appfooter {
	background-color: rgba(8, 8, 8, 0.85);
}

/*Colors for title_2*/
.layout-desktop .detailRibbon {
	background: rgba(0, 0, 0, 0.2);
}

.itemBackdrop::after {
	background: rgba(0,0,0,.26) !important;
}/*Accenting*/.preload {
	background-color: black;
}

.backgroundContainer {
	background-color: #000 !important;
}

.formDialogHeader,
.formDialogFooter {
	background-color: rgba(var(--accent),0.15) !important;
}/*Fix footers/headers displaying on small pop-ups*/.formDialogFooter-clear,
.formDialogHeader-clear,
.innerCardFooterClear {
	background-color: transparent !important;
}

.button-flat:hover {
	background: rgba(var(--accent),0.25);
}

.paper-icon-button-light:hover {
	background-color: rgba(var(--accent),0.25) !important;
}

.navMenuOption-selected {
	color: white;
}

.subtitleappearance-preview {
	background: linear-gradient(140deg,rgba(var(--accent)),#111) !important;
}

.navMenuOption-selected,
.selectionCommandsPanel {
	background: rgba(var(--accent), 0.8) !important;
}

.raised,
.fab,
a[data-role="button"] {
	background: rgba(var(--accent), 0.8) !important;
	transition: all 0.2s !important;
}/*Various box-shadows, might be related to glowstyle*/.cardBox:not(.visualCardBox) .cardPadder,
.cardContent-shadow {
	box-shadow: none !important;
}

body,
h1,
h2,
h3,
h4,
.textActionButton,
.emby-button-foreground {
	text-shadow: 0px 0px 4px rgba(0,0,0,.6) !important;
}

.blurhashed {
	box-shadow: 0 0 4px 0 rgba(0,0,0,.6) !important;
}/*Dash and general UI styling*/.paperList,
.visualCardBox {
	background-color: #151515;
}

.navMenuOption-selected {
	color: white;
}

progress {
	background: rgba(0, 0, 0, 0.5) !important;
}/*Colors for loading spinner, placeholders, scroll bars*/.mdl-spinner__layer-1 {
	border-color: rgba(var(--accent), 1);
}

.mdl-spinner__layer-2 {
	border-color: rgba(var(--accent), .8);
}

.mdl-spinner__layer-3 {
	border-color: rgba(var(--accent), .6);
}

.mdl-spinner__layer-4 {
	border-color: rgba(var(--accent), .5);
}

.defaultCardBackground1 {
	background-color: rgba(var(--accent), .5);
}

.defaultCardBackground2 {
	background-color: rgba(var(--accent), .4);
}

.defaultCardBackground3 {
	background-color: rgba(var(--accent), .8);
}

.defaultCardBackground4 {
	background-color: rgba(var(--accent), .7);
}

.defaultCardBackground5 {
	background-color: rgba(var(--accent), .6);
}/*Syncplay*/@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(.95);
		transform: scale(.95);
		color: rgba(var(--accent),.7);
		background: rgba(var(--accent),.3);
		box-shadow: 0 0 0 0 rgba(var(--accent),.3);
	}

	70% {
		-webkit-transform: scale(1);
		transform: scale(1);
		color: rgba(var(--accent),0);
		background: rgba(var(--accent),0);
		box-shadow: 0 0 0 60px rgba(var(--accent),0);
	}

	to {
		-webkit-transform: scale(.95);
		transform: scale(.95);
		color: rgba(var(--accent),0);
		background: rgba(var(--accent),0);
		box-shadow: 0 0 0 0 rgba(var(--accent),0);
	}
}

@keyframes pulse {
	0% {
		-webkit-transform: scale(.95);
		transform: scale(.95);
		color: rgba(var(--accent),.7);
		background: rgba(var(--accent),.3);
		box-shadow: 0 0 0 0 rgba(var(--accent),.3);
	}

	70% {
		-webkit-transform: scale(1);
		transform: scale(1);
		color: rgba(var(--accent),0);
		background: rgba(var(--accent),0);
		box-shadow: 0 0 0 60px rgba(var(--accent),0);
	}

	to {
		-webkit-transform: scale(.95);
		transform: scale(.95);
		color: rgba(var(--accent),0);
		background: rgba(var(--accent),0);
		box-shadow: 0 0 0 0 rgba(var(--accent),0);
	}
}

@-webkit-keyframes infinite-pulse {
	0% {
		-webkit-transform: scale(.95);
		transform: scale(.95);
		color: rgba(var(--accent),.7);
		background: rgba(var(--accent),.3);
		box-shadow: 0 0 0 0 rgba(var(--accent),.3);
	}

	70% {
		-webkit-transform: scale(1);
		transform: scale(1);
		color: rgba(var(--accent),.6);
		background: rgba(var(--accent),0);
		box-shadow: 0 0 0 60px rgba(var(--accent),0);
	}

	to {
		-webkit-transform: scale(.95);
		transform: scale(.95);
		color: rgba(var(--accent),.7);
		background: rgba(var(--accent),.3);
		box-shadow: 0 0 0 0 rgba(var(--accent),0);
	}
}

@keyframes infinite-pulse {
	0% {
		-webkit-transform: scale(.95);
		transform: scale(.95);
		color: rgba(var(--accent),.7);
		background: rgba(var(--accent),.3);
		box-shadow: 0 0 0 0 rgba(var(--accent),.3);
	}

	70% {
		-webkit-transform: scale(1);
		transform: scale(1);
		color: rgba(var(--accent),.6);
		background: rgba(var(--accent),0);
		box-shadow: 0 0 0 60px rgba(var(--accent),0);
	}

	to {
		-webkit-transform: scale(.95);
		transform: scale(.95);
		color: rgba(var(--accent),.7);
		background: rgba(var(--accent),.3);
		box-shadow: 0 0 0 0 rgba(var(--accent),0);
	}
}/*Alternate itempage*/.detailImageContainer .card {
	position: fixed !important;
	top: 20% !important;
}

.itemBackdrop {
	height: 31vh !important;
	display: inherit;
}

.detailLogo {
	display: none;
}

.layout-desktop .detailRibbon {
	margin-top: 0;
	padding-top: .5em;
	padding-bottom: .5em;
}

.layout-desktop .detailImageContainer .card {
	top: 18vh;
}

#itemDetailPage .detailLogo {
	position: static;
	margin-left: 32.5%;
	display: block;
	-webkit-filter: drop-shadow(0 0 10px rgba(2, 2, 2, 0.75));
  /*! filter: drop-shadow(0 0 10px rgba(2, 2, 2, 0.75)); */
	flex-shrink: 0;
	background-position: 0 50%;
	margin-top: -18vh;
	margin-bottom: 2vh;
}

.layout-mobile .detailLogo {
	display: none !important;
}

#itemDetailPage .itemName.infoText.parentNameLast {
	display: none;
}

.hide+.detailPageWrapperContainer .itemName {
	display: block !important;
}

.itemName {
	margin: .5em 0 !important;
}

.layout-mobile #itemDetailPage .itemName.infoText.parentNameLast {
	display: block;
}/*New progress bar*/#indexPage .innerCardFooterClear,
#itemDetailPage .innerCardFooterClear {
	background-color: transparent !important;
	box-shadow: none;
}

#indexPage .itemProgressBarForeground,
#itemDetailPage .itemProgressBarForeground,
#indexPage .itemProgressBar,
#itemDetailPage .itemProgressBar {
	border-radius: var(--rounding);
}

#indexPage .itemProgressBarForeground,
#itemDetailPage .itemProgressBarForeground {
	background-color: rgba(var(--accent), 0.95) !important;
}

#indexPage .itemProgressBar,
#itemDetailPage .itemProgressBar {
	height: 6px;
	background: rgba(0,0,0,0.4);
	margin: .5em .8em;
}/*Accommodate play button on mobile*/@media all and (max-width: 100em) {
	#indexPage .itemProgressBar,
  #itemDetailPage .itemProgressBar {
		margin-right: 3.2em;
	}
}

@supports (backdrop-filter: blur(15px)) {
	#indexPage .itemProgressBar,
  #itemDetailPage .itemProgressBar {
		backdrop-filter: blur(4px);
		background: rgba(0, 0, 0, 0.35) !important;
	}
}

@keyframes backgroundScroll {
	0% {
		background-position: 99% 1%;
		opacity: 0;
	}

	2% {
		opacity: 1;
	}

	20% {
		background-position: 1% 50%;
	}

	40% {
		background-position: 99% 99%;
	}

	60% {
		background-position: 1% 1%;
	}

	80% {
		background-position: 50% 99%;
	}

	100% {
		background-position: 99% 1%;
	}
}

@keyframes backgroundScrollmob {
	0% {
		background-position: 99% 1%;
		opacity: 0;
	}

	12% {
		opacity: 1;
	}

	88% {
		opacity: 1;
	}

	100% {
		background-position: 50% 50%;
		opacity: 0;
	}
}

@media all and (min-width: 100em) {
	.backdropImage {
		background-size: 150% 150%;
		background-position: 99% 1%;
		animation: backgroundScroll 630s ease;
		animation-iteration-count: infinite;
	}
}

@media all and (max-width: 100em) {
	.backdropImage {
    /*background-size: 150% 150%;*/
		background-position: 99% 1%;
		animation: backgroundScrollmob 25s ease;
		animation-iteration-count: infinite;
	}
}/*Style backdrop*/.backdropImage {
	filter: blur(18px) saturate(120%) contrast(120%) brightness(40%);
}/*Login background*/#loginPage {
	background: #000 !important;
}

.libraryPage:not(.noSecondaryNavPage) {
	padding-top: 10em !important;
}

/* SKIP INTRO */
@media(hover:hover)and (pointer:fine) {
	.skipIntro .paper-icon-button-light:hover:not(:disabled) {
		background-color: rgba(47,93,98,0)!important;
		color: #f1f1f1!important;
	}
}

.skipIntro {
	box-shadow: inset 0 0 0 0 rgba(var(--accent), 0.8);
	transition: .2s ease-in;
	border-color: rgba(var(--accent), 0.8);
	border-radius: var(--rounding);
}

.skipIntro:hover {
	box-shadow: inset 400px 0 0 0 rgba(var(--accent));
}


/* WRAP TEXT ON CHARACTER CARDS */
.cardText {
	overflow: hidden;
	padding: .06em .5em;
	text-align: center;
	word-wrap: break-word;
	white-space: break-spaces;
}


/* Jellyscrubs */
/*Shrink the mouseover chapter image when scrobbling, still media player*/
.chapterThumb {
	height: 14vh;
	min-width: 14vh;
	box-shadow: 0 0 1.9vh #000;
}

.chapterThumbText {
	font-size: 1em;
}

.sliderBubble {
	background: #0000;
}

.chapterThumbTextContainer {
	right: auto;
	bottom: 4px;
	padding: .25em 0.7em;
}

.chapterThumbContainer {
	box-shadow: 0 0 1.9vh #000;
	background-color: rgba(var(--accent));
}

.sliderBubble {
	-webkit-transform: translate3d(-50%,-108%,0);
	transform: translate3d(-50%,-108%,0);
}